---
- name: Create journald.conf.d directory
  ansible.builtin.file:
    path: /etc/systemd/journald.conf.d
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Configure journald via drop-in file
  ansible.builtin.template:
    src: journald-override.conf.j2
    dest: /etc/systemd/journald.conf.d/ansible.conf
    owner: root
    group: root
    mode: '0644'
  notify: Restart journald
