---
- name: Restart SSH
  ansible.builtin.systemd:
    name: sshd
    state: restarted

- name: Restart firewalld
  ansible.builtin.systemd:
    name: firewalld
    state: restarted

- name: Restart dnf-automatic
  ansible.builtin.systemd:
    name: dnf-automatic.timer
    state: restarted

- name: Restart fail2ban
  ansible.builtin.systemd:
    name: fail2ban
    state: restarted

- name: Restart journald
  ansible.builtin.systemd:
    name: systemd-journald
    state: restarted
